@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Poppins:wght@100;400;500;600&display=swap');
:root {
    --fontbold: 'Poppins', sans-serif;
    --fontbebas: 'Lora', serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontbold);
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url(img/bg-new.png);
   }
   body::-webkit-scrollbar{
       display: none;
      }

/* ===== NAVBAR ===== */
#navbarNav a {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
 #navbarNav a:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
 #navbarNav a:hover {
   background-position: 0;
  }
  
 #navbarNav a:hover::before {
    width:100%;
  }


.card-body a{
    text-decoration: none;
}

/* === OUR PRODUCT === */
#o__p{
  height: max-content;
  /* padding:5% 0 0 0; */
  /* margin-bottom: 10%; */
  margin-top: 5%;
}
#op1 > ul > li{
  height: 60vh;
}
#op1{
  /* display: flex; */
  padding: 5% 10% 5%;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
#op1 h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
#op1h1-span{
  color: blue; 
  margin-left: 1.5rem;
}
.sect-btn{
  position: absolute;
  text-align: center;
  bottom: 0;
  backdrop-filter: blur(5px);
  width: 30vw;
}
.sect-btn a{
  text-decoration: none;
}
.ourproduct h2{
  font-family: var(--fontbold);
  font-size: 50px;
  font-weight: bold;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    /* margin: 4rem 5vw; */
    padding: 0;
    list-style-type: none;
    margin-top: 10%;
  }
  
  .card-p {
    position: relative;
    display: block;
    height: 100%;    
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #111644;
  }
  
  #img-card{
    height: 85%;
  }
  .card__image {      
    width: 100%;
    height: 94%;
    background-color: #041a70;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color); 
    background-color: black;     
    transform: translateY(100%);
    transition: .5s ease-in-out;
  }
  
  .card-p:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em 0 0 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card-p:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1.5em;
    margin-bottom: .75rem;
    /* color: #6A515E; */
    color: white;
    background-color: #111644;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    overflow: auto;
    padding: 0 2em 2em;
    margin: 0;
    height: 7.5rem;
    color: #D7BDCA;   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* overflow: hidden; */
  }    
  #btn-p{
    background-color:rgb(19, 18, 18);
    height: 15%;
  }
  #btn-p-img{ 
    width:60%;
    display: flex;
    gap: 5%;
    margin-left: 3%;
  }
  #btn-p-btn{
    width: 35%;
  }

  @media only screen and (max-width: 600px) {
    #o__p{
      height: max-content;
    }
    #ost-1{
      width: 40vw;
    }
    #ost-2{
      width: 2.5rem;
      height: 2.5rem;
    }
    #span__op{
      margin-left: 1rem;
    }
    #op1{
      padding: 0 2rem;
    }
    #op1 > ul > li{
      height: 50vh;
    }
  }



  /* ===== FOOTER ===== */
.logo {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}  
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.card-os:hover, .card-os > .card-body{
  color: #ffffff !important;
}

