@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Poppins:wght@100;400;500;600&display=swap');
:root {
    --fontbold: 'Poppins', sans-serif;
    --fontbebas: 'Lora', serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontbold);
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #111644;
   }
   body::-webkit-scrollbar{
       display: none;
      }

/* ===== NAVBAR ===== */
nav{
  top: 0; 
  width: 100vw; 
  z-index: 99; 
  background-color: #111644; 
}
nav > .container-fluid{
  padding: .25rem 2rem .25rem 5rem;
}
@media only screen and (max-width: 600px) {
  nav > .container-fluid{
    padding: .25rem 5rem .25rem 1rem;
  }
}
.navbar-nav{
  padding: 1rem 3rem;
}
#navbarNav a {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
 #navbarNav a:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
 #navbarNav a:hover {
   background-position: 0;
  }
  
 #navbarNav a:hover::before {
    width:100%;
  }


.container h5{
    font-size:1.7rem;
    font-weight: 400;
    color: blue;
}
.container p{
    font-size: 1.2rem;
    color: white;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .5rem;
}
.section-title span{
    color: blue;
}
b{
    color: blue;
}
.embed-responsive {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#maps{
    height: 40rem;
}



.group        { 
    position:relative; 
    margin-bottom:2.8rem; 
  }
  input{
    background: none;
    font-size: 12.5px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    color: white;
    border: 1px solid #5264AE ;
    border-bottom:1px solid #111644;
  }
  #text-area{
    height: 7.5rem;
  }
  input:focus{ outline:none; }
  label {
    color:#999; 
    font-size:15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  /* active state */
input:focus ~ label, 
input:valid ~ label{
    top:-20px;
    font-size: 10px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar  { position:relative; display:block; width:300px; }
  .bar:before, .bar:after   {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  textarea {
    height: 4rem;
    width:300px;
    color: white;
    background: none;
    transition: all ease-in-out .5s;
    
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #5264AE;
    border-radius: 3px;
    padding: .3em;
    font-size: 15px;
    
    
  }
  textarea:focus {
    height: 15rem;
    outline: none;
    border-color: #5264AE;
    border: 1px solid #5264AE;
  }
  
  textarea:valid {
    height: 7.5rem;
    border: 1px solid #5264AE;
  }
  
  

  /* ===== FOOTER ===== */
.logo {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}  
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.card-os:hover, .card-os > .card-body{
  color: #ffffff !important;
}




